venv/
__pycache__/
*.pyc

.env

graph.html
reports/

.qdrant/

backend/qdrant_data/
qdrant_data/

*.db
*.sqlite

.idea/
.vscode/
backend/repositories/
backend/qdrant_data/
reports/
graph.html
.env
venv/