fastapi
uvicorn
pydantic

streamlit
requests

groq

qdrant-client

sentence-transformers
transformers
torch

numpy

networkx
pyvis

gitpython

python-dotenv

tree-sitter
tree-sitter-python
